.btn {
  color: white;
  background-color: navy;
  opacity: 0.9;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px;
  transition: 0.3s;
  }
  .btn:hover {
  color: white;
  background-color: cornflowerblue;
  }
